*, html {
    box-sizing: border-box;
    color: white;
    margin: 0;
    font-family: Lato, Geneva, Tahoma, sans-serif;


}
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
  }

body {
    margin:0;
    padding:0;
    min-width: 300px;
}
.background {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(43, 58, 85, .75), rgb(43, 58, 85, .75)), url("../src/media/background.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: scroll;
}
 
main {
    position: absolute;
    top: 110px;
    width: 100%;
    min-width:300px;
    height: calc(100% - 150px);
    min-height: calc(800px - 150px);
    
}

/* NAVBAR STYLING */

nav {
    min-width:300px;
    position: fixed;
    width: 100%;
    height: 110px;
    background-color: white;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    padding-left:20px;
    height: 100px;
    width: auto;
}

/* NARROW SCREEN STYLING */


img.sidebar-icon {
    width: auto;
    position: absolute;
    right:0;
    height: 35px;
    margin: 30px;
}

nav.narrow-screen {
    display: flex;
    justify-content: center;
}


.brand-name {
    display: flex;
    align-items: center;

}

.brand-name h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
    padding-right:10px;
    font-size: 40px;
}
.brand-name h1, .brand-name h3{
    color: rgb(43, 58, 85);
}

nav ul {
   
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
nav ul li a {
    text-decoration: none;
    padding-right: 15px;
    color: rgb(43, 58, 85)
}

nav ul li a:hover {
    text-decoration: underline;
}


@media not screen and (max-width: 920px){
    .narrow-screen.navbar  {
        display: none;
    }
}
@media screen and (max-width: 920px){
    .wide-screen.navbar {
        display: none;
    }
    .sidebar-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(43, 58, 85, .7);
        z-index: 1000;
        display: flex;
        justify-content: end;
      }

      
      .sidebar-container {
        width: 80%;
        max-width: 300px;
        background-color: #fff;
        height: 100%;
        overflow-y: auto; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        z-index: 100000;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .sidebar-container ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
      
      .sidebar-container li {
        padding: 10px 0;
        text-align: center;
      }
      
      .sidebar-container li a {
        text-decoration: none;
        color: rgb(43, 58, 85);
        font-size: 18px;
        display: block;
        padding: 10px;
        transition: color 0.3s;
      }
      
      .sidebar-container li a:hover {
        color: rgb(255, 255, 255);
        background-color: rgb(43, 58, 85);
      }
      
}



@media not screen and (max-height: 800px) and (max-width: 1500px) {

    /* SECONDARY COMPONENTS STYLING */
    .home-page.secondary-components {
        min-width:300px;
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap ;
        justify-content: center;
        align-items: center;
    }

    .home-page.secondary-components >* {
        
        max-width: 600px;
        min-height: 750px;
        height: 750px;
        min-width: 300px;
    }

    /* WHY US STYLING */

    .secondary-components ul {
        list-style: none;
        width: 100%;
        height: 600px;
        
    }

    .why-us-title {
        text-align: center;
        font-weight: 400;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .why-us-list {
        min-width:300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .why-us-list-content {
        height: 125px;
        cursor: default;
    }
    .baseline-content {
        width: auto;
        display: flex;
        align-items: center;
        font-size: 17.5px;
        
        text-decoration: underline;
    }
    .baseline-content:hover {
        text-decoration: none;
    }
    .reason-excerpt{
        margin-left: 50px;
        font-weight: 300;
    }
    .icon-container {
        width: 50px;
    }
    .icon-container img{
        height: 35px;
        margin-right: 10px;
        float: right;
    }


    /* ESTIMATE INQUIRY FORM */

    .estimate-inquiry {
        margin-bottom: 20px;
        min-height: 750px;
        height: 750px;
        background-color: rgb(255, 255, 255, 85%);
        border-radius: 25px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }
    .estimate-inquiry h2 {
        padding-top: 40px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
    }
    .estimate-inquiry h4 {
        padding-bottom: 20px;
    }
    .estimate-inquiry h2, .estimate-inquiry h4, .general-content h2, .general-content h4, .general-content ul li{
        color: rgb(43, 58, 85);
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        font-weight: 400;
    }
    .estimate-inquiry-form {
        background-color: #f7f7f7;
        padding: 20px;
        border-radius: 10px;
        min-width: 225px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

    }

    .form-elements {
        display: flex;
        flex-direction: column;
    }

    .form-element {
        margin-bottom: 20px;
    }

    label {
        padding-bottom: 2.5px;
        font-weight: bold;
        display: block;
        color: rgb(43, 58, 85);
        font-weight: 400;
    }

    input, select, textarea {
        width: 100%;
        height: auto;
        padding: 10px;
        color: rgba(43, 58, 85, 0.771);
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    textarea {
        resize: none;
    }

    input[type="text"],
    input[type="tel"],
    select {
        font-size: 16px;
    }

    input[type="text"]:focus,
    input[type="tel"]:focus,
    select:focus {
        border: 1px solid rgba(43, 58, 85, 0.808);
        outline: none;
    }


    input[type="text"]:required:valid,
    input[type="tel"]:required:valid,
    select:required:valid {
        border: 1px solid #4caf50;
    }

    button[type="submit"] {
        background-color: rgba(43, 58, 85, 0.74);
        color: #fff;
        border: none;
        width: 100%;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number]{
        -moz-appearance: textfield;
    }
    
    /* Style the submit button on hover */
    button[type="submit"]:hover {
        background-color: #888888;
    }
    
    button {
        padding:0;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .loading-gif-container {
        width: 100%;
        height: 100%;
        background-color: #888888;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    .loading-gif {
        height: 20px;
        width: auto;
    }

    .success-button {
        border-radius: 5px;
        width: 100%;
        height: 100%;
        background-color: #4caf50;
        justify-content: center;
        align-items: center;
    }
    .contact-us .estimate-inquiry {
        margin-top: 20px;
        max-width: 600px;
        min-height: 750px;
        height: 750px;
        min-width: 300px;
    }

}
@media screen and (max-height: 800px) and (max-width:1500px) {
    h2.title{
        min-width: 300px;
        width: 100%;
        text-align: center;
        font-weight: 600;
        font-size: 25px;
        padding: 40px;
        height:auto;
    }
    .home-page.secondary-components {
        min-width:300px;
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap ;
        justify-content: center;
        align-items: center;
    }
    
    .home-page.secondary-components >* {
/*         
        max-width: 600px; */
        height: 550px;
        min-width: 300px;
    }
    
    .home-page.secondary-components {
        min-width:300px;
        width: 650px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap ;
        justify-content: center;
        align-items: center;
    }

    /* ESTIMATE INQUIRY FORM */

    .estimate-inquiry {
        margin-bottom: 20px;
        background-color: rgb(255, 255, 255, 85%);
        border-radius: 25px;

        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }
    h2.estimate-description-title {
        padding: 15px;
    }
    .estimate-inquiry h4 {
        padding-bottom: 10px;
    }
    .estimate-inquiry h2, .estimate-inquiry h4, .general-content h2, .general-content h4, .general-content ul li{
        color: rgb(43, 58, 85);
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        font-weight: 400;
    }
    .estimate-inquiry-form {
        background-color: #f7f7f7;
        padding: 20px;
        border-radius: 10px;
        min-width: 225px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

    }

    .form-elements {
        display: flex;
        flex-direction: column;
    }

    .form-element {
        margin-bottom: 5px;
    }

    label {
        font-size: 14px;
        padding-bottom: 1.5px;
        font-weight: bold;
        display: block;
        color: rgb(43, 58, 85);
        font-weight: 400;
    }

    input, select, textarea {
        width: 100%;
        height: auto;
        padding: 5px;
        color: rgba(43, 58, 85, 0.771);
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    textarea {
        resize: none;
    }

    input[type="text"],
    input[type="tel"],
    select {
        font-size: 14px;
    }

    input[type="text"]:focus,
    input[type="tel"]:focus,
    select:focus {
        border: 1px solid rgba(43, 58, 85, 0.808);
        outline: none;
    }


    input[type="text"]:required:valid,
    input[type="tel"]:required:valid,
    select:required:valid {
        border: 1px solid #4caf50;
    }

    button[type="submit"] {
        background-color: rgba(43, 58, 85, 0.74);
        color: #fff;
        border: none;
        width: 100%;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number]{
        -moz-appearance: textfield;
    }
    
    /* Style the submit button on hover */
    button[type="submit"]:hover {
        background-color: #888888;
    }
    
    button {
        padding:0;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .loading-gif-container {
        width: 100%;
        height: 100%;
        background-color: #888888;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    .loading-gif {
        height: 20px;
        width: auto;
    }

    .success-button {
        border-radius: 5px;
        width: 100%;
        height: 100%;
        background-color: #4caf50;
        justify-content: center;
        align-items: center;
    }
    /* WHY US STYLING */

    .secondary-components ul {
        list-style: none;
        width: 100%;
        height: 600px;
        
    }

    .why-us-title {
        text-align: center;
        font-weight: 400;
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .why-us-list {
        margin-bottom:20px;
        min-width:300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .why-us-list-content {
        height: 125px;
        cursor: default;
    }
    .baseline-content {
        width: auto;
        display: flex;
        align-items: center;
        font-size: 15px;
        
        text-decoration: underline;
    }
    .baseline-content:hover {
        text-decoration: none;
    }
    .reason-excerpt{
        margin-left: 30px;
        font-weight: 300;
        font-size: 14px;
    }
    .icon-container {
        width: 30px;
    }
    .icon-container img{
        height: 30px;
        margin-right: 10px;
        float: right;
    }

    /* CONTACT US STYLING */
    .contact-us .estimate-inquiry {
        margin-top: 20px;
   
    }
    /* .contact-us .estimate-inquiry-form {
        text-align: left;
        min-width: 300px;
        padding: 30px; 
    } */
}


/* HOME PAGE STYLING */
.home-page.components {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    min-width: 300px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    padding: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
    height:auto;
}

/* CONTACT US PAGE STYLING */

.contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-us .general-content {
    text-align: center;
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    background-color: rgb(255, 255, 255, 85%);
    border-radius: 25px;
}

.contact-us .title h2 {
    min-width: 300px;
    width: 100%;
    text-align: center;
    font-size: 25px;
    padding: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
    height:auto;
}

.contact-us .general-content h2 {
    padding: 20px;
}

.contact-us .general-content h5 {
    font-size: 17.5px;
    font-weight: 400;
}
.contact-us .general-content ul li a  {
    color: rgb(43, 58, 85);
}

.contact-us .general-content ul li a:hover {
    text-decoration: none;
}
.contact-us ul {
    list-style: none;
    margin: 20px;
}



/* ABOUT US */

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-excerpt {
    color: rgb(43, 58, 85);
    text-align: center;
    padding: 30px;
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    background-color: rgb(255, 255, 255, 85%);
    border-radius: 25px;
}

.about-us-excerpt a{
    color: rgb(43, 58, 85);
}
