*, html {
    box-sizing: border-box;
    color: white;
    margin: 0;
    font-family: Lato, Geneva, Tahoma, sans-serif;


}
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

body {
    margin:0;
    padding:0;
}
.background {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(43, 58, 85, .75), rgb(43, 58, 85, .75)), url("../src/media/background.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: scroll;
}


nav {
    
    position: fixed;
    width: 100%;
    height: 220px;
    background-color: white;
    z-index: 5;
}

nav img {
    height: 200px;
    width: auto;
    margin: 10px;
    margin-left: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    width:35%;
    min-width: 500px; 
    margin: 10px;
    margin-right: 30px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;

}
nav ul li a {
    text-decoration: none;
    color: rgb(43, 58, 85)
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    position: absolute;
    top: 220px;
    width: 100%;
    
}

.home-page.components {
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    align-items: center;
}

h3.title {
    text-align: center;
    font-weight: 600;
    font-size: 20px
}